@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

.orders_wrapper {
    font-family: "Roboto", sans-serif;
    margin-top: 4rem;

    .orders_container {
        border-radius: 7px;
        padding: 0px 12px;
        background-color: transparent;

        .transactions {
            width: 85%;
            margin: auto;
            background: linear-gradient(180deg, #2c2c2c 0%, #000000 100%),
                linear-gradient(180deg, #414345 0%, #414345 100%);
            margin-top: 20px;
            border-image: linear-gradient(180deg, #414345 0%, #414345 100%);
            border-width: 1px;
            border-style: solid;
            border-radius: 8px;

            .head {
            }

            .transaction_info {
                .info {
                    display: flex;
                    justify-content: space-between;
                    color: white;
                    border-bottom: 1px solid #ffffff57;
                    padding-bottom: 16px;
                    margin-top: 10px;

                    .info_left {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        color: white;
                        font-size: 14px;
                        font-weight: 500;

                        .left_img {
                            background-color: #4e4e4e;
                            border: 1px solid white;
                            height: 52px;
                            width: 52px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .orders_wrapper {
        // margin-top: 50px !important;

        .orders_container {
            width: 94% !important;
            border-radius: 7px;
        }

        .transactions {
            width: 100% !important;
        }
    }
}
