.header-imgs {
    display: flex;
}

.round-ring {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.right-sign {
    position: absolute;
    bottom: 15pc;
}

.congratulations-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.congratulations-text-box h1 {
    font-family: Clash Display;
    font-size: 35px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0.05em;
    text-align: center;
    color: rgba(255, 30, 30, 1);
}

.congratulations-text-box p {
    font-family: Clash Display;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.05em;
text-align: center;
color: rgba(255, 255, 255, 0.8);

}
.congratulations-text-box button {
    width: 290px;
}