.bg-dunes {
    background-image: url('https://img.freepik.com/free-vector/pyrotechnics-fireworks-background-with-animation-black_1284-54175.jpg');
  }

.header-imgs {
    display: flex;
}

.outer-box-ring {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
}

.round-ring {
    margin: auto auto;
    width: 244px;
    height: 244px;

}

.right-sign {
    position: absolute;
    bottom: 190px;
    left: 43.5pc;
}

.congratulations-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.outer-text h1 {
    font-family: Clash Display;
    font-size: 42px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0.05em;
    text-align: center;
    color: rgba(255, 30, 30, 1);
}

.outer-text p {
    font-family: 'Clash Display';
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);

}

.congratulations-text-box button {
    width: 290px;
    margin-top: 42px;
}

.header-imgs img {
    width: 1157.8625160493384px;
    height: 821.5486827968581px;
}

.header-imgs2 {
    width: 1101.185174559764px !important;
    height: 700.7988234530376px !important;
}

.footer-width {
    height: 340px;
}

/* @media (min-width:769px) and (max-width:1024px) {
   
}
@media (min-width:481px) and (max-width:768px) {
    
 }
 */
@media screen and (max-width:480px) {
    .header-imgs2 {
        display: none;
    }

    .header-imgs img {
        /* display: none; */
    }

    .header-imgs3 {
        display: initial !important;
        width: 393.0780963488827px !important;
        height: 422.94763384422845px !important;
        transform: rotate(0deg) !important;
    }

    .outer-box-ring {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 402px;
        left: 0;
        right: 0;
    }

    .round-ring svg {
        width: 146px !important;
        height: 146 !important;
    }

    .right-sign {
        width: 32px !important;
        height: 23px !important;
        display: none;

    }

    .round-ring {
        display: flex;
        justify-content: center;
    }

    .congratulations-text-box button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 0px;

    }
    .header-imgs img {
    /* width: 1157.8625160493384px; */
    /* height: 821.5486827968581px; */
}
}