.mob_hide{
    overflow: hidden;
    // z-index: -1;
}

.mobile_container{
    display: none;
}

.congrats_bg2{
    display: none;
}

.congrats_wrapper {
    // height: 98vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;

    .check {
        position: relative;

        div {
            position: absolute;
            top: 100px;
            left: 112px;
        }
    }

}
.pay_btn {
    .add_money {
        text-align: center;
        button {
            background: linear-gradient(180deg, #5e6267 0%, #414345 100%),
                linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 0.1) 100%
                );
            color: white;
            font-weight: 700;
            // padding: 11px 62px 11px 65px;
            border-radius: 8px;
            border: 1px;
            gap: 5px;
            font-size: 20px;
            width: 300px;
        }
    }
}


@media only screen and (max-width: 800px) {

    .congrats_bg2{
        display: block;
    }

    .congrats_wrapper{
        align-items: unset;
    }

    .congrats_container{
        margin-top: 20px !important;
    }
    .mob_hide{
        display: none;
    }

    .congrats_wrapper {
        min-height: 520px;
    }

    .mobile_container{
        display: block;
    }
}