.details {
    margin-left: 70px;
    margin-top: 10pc;
}

.details h1 {
    font-family: Clash Display;
    font-size: 25px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 30, 30, 1);

}

.details p {
    font-family: Sora;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    ;
}

.market-price {
    width: 344px;
    height: 160px;
    border-radius: 8px;
    border: 1px;
    background: linear-gradient(180deg, #2C2C2C 0%, #000000 100%),
        linear-gradient(180deg, #414345 0%, #414345 100%);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #414345 0%, #414345 100%);
    background: linear-gradient(180deg, #4E4E4E 0%, rgba(6, 5, 5, 0.3) 100%);

    margin: auto auto;
    margin-top: 20px;
}

.points_container p{
    font-size: 20px;
    color: #FFFFFF99;
    font-weight: 600;
}
.points_container button{
    font-size: 20px;
    color: #FFFFFF99;
    font-weight: 700;
}

.product_img{
    width: 600px;
    height: 650px;
}

@media screen and (max-width:480px) {
    .price-box p:first-child {
        font-size: 14px;
    }

    .price-box p:nth-child(2) {
        font-size: 14px;
    }

    .properties-element p {
        font-size: 12px;
        font-weight: 300;
    }
    .product_img{
        margin-bottom: 0px !important;
    }

    .play-station {
        margin-left: 0px;
    }
    .play-station2 {
        margin-left: 0px;
    }

    .points_container p{
        font-size: 14px;
        color: #FFFFFF99;
        font-weight: 300;
    }
    .points_container button{
        font-size: 20px;
        color: #FFFFFF99;
        font-weight: 700;
    }
}