.product-header {
   height: 0px;
}

.product-img {
    height: 450px;
    width: 30%;
    filter:brightness(4px) ;
}
.product-header-img {
    display: flex;
    justify-content: center;
    flex-direction: row;
}