.input_container {
    
    label{
        color: #A9A9A9;
    }

    input {
        border: 0.6px solid rgba(255, 255, 255, 0.2);
        height: 50px;
        background-color: #202020;
        width: 310px;
        border-radius: 8px;
        color: #A9A9A9;
    }
}
