.addmoney_wrapper {
    .addmoney_container {
        border-radius: 7px;
        padding: 0px 12px;
        background-color: transparent;

        input{
            border: none;
            background: transparent;
            border-bottom: 1px solid #FFFFFF;

            &:focus{
                outline: none !important;
            }
        }
            
    }
}

@media only screen and (max-width: 700px) {
    .addmoney_wrapper {
        .addmoney_container {
            width: 94% !important;
            border-radius: 7px;
            padding: 0px 12px;
        }
    }
}
