.tnc_container{
    background-color: white !important;
    font-family: "Roboto", sans-serif !important;
    color: white !important;
    background-color: black !important;
    width: 100%;
    min-height: 100px;
    padding: 0px 50px;
    .tnc_head{

    }
}