.App {
  overflow: hidden;
}

.circle-left {
  position: absolute;
  width: 180px;
  height: 188px;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(50px);
  background: rgba(40, 115, 254, 0.4);
  border-radius: 50%;
  top: 534px;
  left: -66px
}

.circle-right {
  position: absolute;
  width: 180px;
  height: 188px;
    -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(50px);
  background: rgba(40, 115, 254, 0.4);
  border-radius: 50%;
  top: 990px;
  left: 1326px;
   z-index: -9;
}